[Unit]
Description=Amaru PI
After=network.target local-fs.target

[Service]
Type=simple
EnvironmentFile=/home/pi/amaru.env
ExecStart=/home/pi/bin/amaru-pi
WorkingDirectory=/home/pi/bin
Restart=always
RestartSec=2
User=pi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
