[Unit]
Description=Amaru
After=network.target local-fs.target

[Service]
Type=simple
EnvironmentFile=/home/pi/amaru.env
ExecStart=/home/pi/bin/amaru daemon
WorkingDirectory=/home/pi/bin
Restart=no
User=pi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
