[Unit]
Description=Amaru PI
Requires=splash.service
After=local-fs.target splash.service

[Service]
Type=simple
EnvironmentFile=/home/pi/amaru.env
ExecStart=/home/pi/bin/amaru-pi
WorkingDirectory=/home/pi/bin
Restart=no
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
