[Unit]
Description=Splash screen on the HAS display
DefaultDependencies=no
# These after and before are only valid if we
# do not depend on anything else than `/`
# i.e. we do not write on /tmp, etc.
After=systemd-remount-fs.service
Before=local-fs.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/hat_splash.py
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
